/venv
/src/__pycache__

!data/
!data/raw/
!data/raw/archive/

data/raw/archive/landscapeImages/color
data/raw/archive/landscapeImages/gray

/old models testing

/tests/__pycache__
/tests/mock_data

!outputs/predictions/
outputs/predictions/*.png
!outputs/predictions/.gitkeep